.container {
  max-width: 800px;
}
.header {
  margin-top: 6rem;
  text-align: center; 
}
.output{
  text-align: left;
  outline: 0px solid transparent;
  font-family: monospace, monospace;
  font-size: 1em;
  display: block;
  white-space: normal;
  background: #F1F1F1;
  border: 1.5px solid #E1E1E1;
  border-radius: 4px; 
  padding: 1rem 1.5rem;
  margin: 2.5rem;
}
.title{
  margin-top: 10rem;
  text-align: center;
}

@media screen and (max-width: 1024px){
  .keyboard{
    display: none;
  }
}

a{
  text-decoration: none;
}